VocaVoterConnector/Service References/VocaDbServices/QueryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd0" namespace="http://vocaloid.eu/schemas/VocaDb" />
  <xs:complexType name="ArrayOfCommentForApiContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentForApiContract" nillable="true" type="tns:CommentForApiContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentForApiContract" nillable="true" type="tns:ArrayOfCommentForApiContract" />
  <xs:complexType name="CommentForApiContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Author" nillable="true" type="q1:UserForApiContract" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentForApiContract" nillable="true" type="tns:CommentForApiContract" />
</xs:schema>