VocaVoterConnector/Service References/VocaDbServices/QueryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MediaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PhysicalDisc">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DigitalDownload">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MediaType" nillable="true" type="tns:MediaType" />
  <xs:simpleType name="PurchaseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nothing" />
      <xs:enumeration value="Wishlisted" />
      <xs:enumeration value="Ordered" />
      <xs:enumeration value="Owned">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PurchaseStatus" nillable="true" type="tns:PurchaseStatus" />
  <xs:simpleType name="UserEmailOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NoEmail">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PrivateMessagesFromAdmins">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PrivateMessagesFromAll">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="UserEmailOptions" nillable="true" type="tns:UserEmailOptions" />
  <xs:simpleType name="UserGroupId">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nothing" />
      <xs:enumeration value="Limited" />
      <xs:enumeration value="Regular" />
      <xs:enumeration value="Trusted" />
      <xs:enumeration value="Moderator" />
      <xs:enumeration value="Admin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserGroupId" nillable="true" type="tns:UserGroupId" />
  <xs:simpleType name="UserLanguageProficiency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nothing" />
      <xs:enumeration value="Basics" />
      <xs:enumeration value="Intermediate" />
      <xs:enumeration value="Advanced" />
      <xs:enumeration value="Native" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserLanguageProficiency" nillable="true" type="tns:UserLanguageProficiency" />
</xs:schema>