VocaVoterConnector/Service References/VocaDbServices/QueryService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Artists" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Artists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd0" namespace="http://vocaloid.eu/schemas/VocaDb" />
  <xs:complexType name="AdvancedArtistStatsContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="TopVocaloids" nillable="true" type="tns:ArrayOfTopStatContractOfArtistContractZKwwigZK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvancedArtistStatsContract" nillable="true" type="tns:AdvancedArtistStatsContract" />
  <xs:complexType name="ArrayOfTopStatContractOfArtistContractZKwwigZK">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopStatContractOfArtistContractZKwwigZK" nillable="true" type="tns:TopStatContractOfArtistContractZKwwigZK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopStatContractOfArtistContractZKwwigZK" nillable="true" type="tns:ArrayOfTopStatContractOfArtistContractZKwwigZK" />
  <xs:complexType name="TopStatContractOfArtistContractZKwwigZK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TopStatContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Artists" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArtistContract" Namespace="http://vocaloid.eu/schemas/VocaDb" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="http://vocaloid.eu/schemas/VocaDb" minOccurs="0" name="Data" nillable="true" type="q1:ArtistContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopStatContractOfArtistContractZKwwigZK" nillable="true" type="tns:TopStatContractOfArtistContractZKwwigZK" />
</xs:schema>