VocaVoterConnector/Service References/VocaDbServices/QueryService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOldUsernameContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OldUsernameContract" nillable="true" type="tns:OldUsernameContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOldUsernameContract" nillable="true" type="tns:ArrayOfOldUsernameContract" />
  <xs:complexType name="OldUsernameContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OldUsernameContract" nillable="true" type="tns:OldUsernameContract" />
</xs:schema>