VocaVoterConnector/Service References/VocaDbServices/Queryservice1113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39390/Services/Queryservice.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" />
  <xs:complexType name="EntryThumbContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" minOccurs="0" name="EntryType" type="q1:EntryType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntryThumbContract" nillable="true" type="tns:EntryThumbContract" />
</xs:schema>