VocaVoterConnector/Service References/VocaDbServices/QueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://vocaloid.eu/schemas/VocaDb" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vocaloid.eu/schemas/VocaDb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://vocaloid.eu/schemas/VocaDb/Imports">
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd0" namespace="http://vocaloid.eu/schemas/VocaDb" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Service" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Albums" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Artists" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.ReleaseEvents" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Globalization" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.ExtLinks" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Songs" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.PVs" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Songs" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Users" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Users" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.DataContracts.Artists" />
      <xsd:import schemaLocation="http://localhost:39390/Services/QueryService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/VocaDb.Model.Domain.Tags" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QueryService_FindAlbums_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAlbums" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindAlbums_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindAlbumsAdvanced_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAlbumsAdvanced" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindAlbumsAdvanced_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAlbumsAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:FindArtists" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindDuplicate_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDuplicate" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindDuplicate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDuplicateResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSongs" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSongsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindTags_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTags" />
  </wsdl:message>
  <wsdl:message name="QueryService_FindTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTagsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetAlbumDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumDetails" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetAlbumDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetAlbumById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumById" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetAlbumById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumByIdResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetArtistDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistDetails" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetArtistDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetArtistById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistById" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetArtistById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistByIdResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetArtistsWithYoutubeChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsWithYoutubeChannels" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetArtistsWithYoutubeChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsWithYoutubeChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongById" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongByIdResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongDetailsByNameArtistAndAlbum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongDetailsByNameArtistAndAlbum" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongDetailsByNameArtistAndAlbum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongDetailsByNameArtistAndAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongDetails" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongListById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongListById" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongListById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongListByIdResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetTagById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagById" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetTagById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagByIdResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetTagByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagByName" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetTagByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagByNameResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetAlbumByLinkUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumByLinkUrl" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetAlbumByLinkUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumByLinkUrlResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetRandomSongLyrics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomSongLyrics" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetRandomSongLyrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomSongLyricsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongWithPV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongWithPV" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetSongWithPV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongWithPVResponse" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="QueryService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="QueryService">
    <wsdl:operation name="FindAlbums">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindAlbums" message="tns:QueryService_FindAlbums_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindAlbumsResponse" message="tns:QueryService_FindAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAlbumsAdvanced">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindAlbumsAdvanced" message="tns:QueryService_FindAlbumsAdvanced_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindAlbumsAdvancedResponse" message="tns:QueryService_FindAlbumsAdvanced_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindAll" message="tns:QueryService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindAllResponse" message="tns:QueryService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindArtists">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindArtists" message="tns:QueryService_FindArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindArtistsResponse" message="tns:QueryService_FindArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDuplicate">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindDuplicate" message="tns:QueryService_FindDuplicate_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindDuplicateResponse" message="tns:QueryService_FindDuplicate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSongs">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindSongs" message="tns:QueryService_FindSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindSongsResponse" message="tns:QueryService_FindSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTags">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindTags" message="tns:QueryService_FindTags_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/FindTagsResponse" message="tns:QueryService_FindTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumDetails">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetAlbumDetails" message="tns:QueryService_GetAlbumDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetAlbumDetailsResponse" message="tns:QueryService_GetAlbumDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumById">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetAlbumById" message="tns:QueryService_GetAlbumById_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetAlbumByIdResponse" message="tns:QueryService_GetAlbumById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistDetails">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetArtistDetails" message="tns:QueryService_GetArtistDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetArtistDetailsResponse" message="tns:QueryService_GetArtistDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistById">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetArtistById" message="tns:QueryService_GetArtistById_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetArtistByIdResponse" message="tns:QueryService_GetArtistById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistsWithYoutubeChannels">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetArtistsWithYoutubeChannels" message="tns:QueryService_GetArtistsWithYoutubeChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetArtistsWithYoutubeChannelsResponse" message="tns:QueryService_GetArtistsWithYoutubeChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongById">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongById" message="tns:QueryService_GetSongById_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongByIdResponse" message="tns:QueryService_GetSongById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongDetailsByNameArtistAndAlbum">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongDetailsByNameArtistAndAlbum" message="tns:QueryService_GetSongDetailsByNameArtistAndAlbum_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongDetailsByNameArtistAndAlbumResponse" message="tns:QueryService_GetSongDetailsByNameArtistAndAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongDetails">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongDetails" message="tns:QueryService_GetSongDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongDetailsResponse" message="tns:QueryService_GetSongDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongListById">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongListById" message="tns:QueryService_GetSongListById_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongListByIdResponse" message="tns:QueryService_GetSongListById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagById">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetTagById" message="tns:QueryService_GetTagById_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetTagByIdResponse" message="tns:QueryService_GetTagById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagByName">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetTagByName" message="tns:QueryService_GetTagByName_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetTagByNameResponse" message="tns:QueryService_GetTagByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetUserInfo" message="tns:QueryService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetUserInfoResponse" message="tns:QueryService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumByLinkUrl">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetAlbumByLinkUrl" message="tns:QueryService_GetAlbumByLinkUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetAlbumByLinkUrlResponse" message="tns:QueryService_GetAlbumByLinkUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomSongLyrics">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetRandomSongLyrics" message="tns:QueryService_GetRandomSongLyrics_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetRandomSongLyricsResponse" message="tns:QueryService_GetRandomSongLyrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongWithPV">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongWithPV" message="tns:QueryService_GetSongWithPV_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetSongWithPVResponse" message="tns:QueryService_GetSongWithPV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetUser" message="tns:QueryService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://vocaloid.eu/schemas/VocaDb/QueryService/GetUserResponse" message="tns:QueryService_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>